body {
    background-color: #eff4f7;
}

form {
    height: 130px;
    width: 340px;
    border-radius: 1em;
    text-align: center;
    align-items: center;
}

fieldset {
    border: 1px solid #CCCCCC;
    background-color: white;
    border-radius: inherit;
    padding-right: 0;
    box-shadow: 1px 1px 1px 1px rgb(239, 244, 247);
}

div {
    margin: 0 auto;
    width: 100%;
    left: 885px;
    top: 218px;
    right: 332px;
    buttom: 289px;
}

table {
    text-align: right;
    border-spacing: 15px;
}

#tdLoginSubmitButton {
    text-align: center;
}

#loginFormUserNameText #loginFormPasswordText {
    color: lightskyblue;
    border-radius: inherit;
    width: 360px;
}

#loginFormSubmitButton {
    height: 36px;
    weight: 125px;
    color: white;
    background-color: dodgerblue;
    border: 0;
}