@charset "utf-8";
body {
    background-color: rgb(239, 244, 247);
}

form {
    height: 130px;
    width: 340px;
    border-radius: 1em;
    text-align: center;
    align-items: center;
}

fieldset {
    background-color: white;
    border-radius: inherit;
    padding-right: 0;
}

.loginFormDiv {
    margin: 242px 140px 276px 986px;
    position: absolute;
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    width: 335px;
    height: 165px;
}

.loginTable {
    text-align: right;
    border-spacing: 15px;
}

#tdLoginSubmitButton {
    text-align: center;
}

#loginFormUserNameText #loginFormPasswordText {
    color: lightskyblue;
    border-radius: inherit;
    width: 360px;
}

#loginFormSubmitButton {
    height: 36px;
    weight: 125px;
    color: white;
    background-color: dodgerblue;
    border: 0;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
}